html
  head
    title= title
  body
    h1= message

    a(href = path + "/stop") stop playing
    br
    a(href = path + "/loop") loop video
    br
    a(href = path + "/fullscreen") toggle fullscreen
    br
    br
    if prev != 'undefined'
      a(href = prev + "/") previous page

    ul
  each val in links
    li 
      a(href = path + "/" +val)=val